@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/* Reinicio básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Index */

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    color: #302e2e;
    background-color: #f9f9f9;

    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px 100px;
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;
    top: 0;
    width: 100%;
    height: 140px;
    z-index: 10;
}

.banner {
    height: 100vh;
    background: url("Imagenes/casaportada.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo {
    padding: 1px;
    border-radius: 1px;
    height: 300px;
    width: 300px;
    max-width: 500px;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Navegación */
.navegacion-principal {
    display: flex;
    gap: 30px;
}

.navegacion-principal a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem; 
    padding: 4px 8px;
}

.navegacion-principal a:hover {
    color: #00ccff;
}

/* Acciones usuario */
.acciones-usuario a {
    margin-left: 15px;
    text-decoration: none;
    color: #00ccff;
    font-weight: bold;
    font-size: 20px;
}

/* Texto y buscador centrado */
.superposicion-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.03),
        rgba(0, 0, 0, 0.18)
    );
}

.superposicion-principal h1 {
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Barra de búsqueda */
.barra-busqueda {
    display: flex;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    width: 90%;
    max-width: 600px;
}

.barra-busqueda select,
.barra-busqueda input {
    padding: 10px;
    border: none;
    font-size: 1rem;
    flex: 1;
}

.barra-busqueda select {
    max-width: 120px;
    background-color: #eee;
}

.barra-busqueda button {
    background: white;
    border: none;
    cursor: pointer;
}

.Boton-lupa {
    width: 50px;
    height: 50px;
}

/* Sección explorar */
.explorar-propiedades {
    padding: 40px 20px;
    background: white;
    text-align: center;
}

.explorar-propiedades h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.categorias-explorar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
}

.categorias-explorar li a {
    text-decoration: none;
    color: #0077cc;
    font-weight: 500;
    padding: 8px 16px;
    border: 1px solid #0077cc;
    border-radius: 20px;
    transition: 0.3s;
}

.categorias-explorar li a:hover {
    background: #0077cc;
    color: white;
}

/* Grid bloques */
.grid-bloques {
    display: grid;
    grid-template-areas:
        "tarjeta1 tarjeta2 tarjeta3"
        "tarjeta1 tarjeta2 tarjeta4";
    gap: 20px;
    padding: 40px;

    height: 500px;
}

.bloque {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.bloque:hover {
    transform: scale(1.03);
}

.bloque img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
}

.texto {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: white;
}

.texto h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
}

.texto p {
    font-size: 14px;
    color: #707070;
}

#contenedor-propiedades {
    position: relative;
    z-index: 10;
    margin-top: -60vh;
    padding-bottom: 40px;
}

/* Tarjetas dinámicas para alquiler y ventas*/
#contenido-propiedades {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
}

#contenido-propiedades h1 {
    color: white;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

#propiedades-dinamicas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    align-items: stretch; /* ← clave para igualar altura */
}

.tarjeta {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tarjeta img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
}


.tarjeta h3 {
    margin: 10px 0 5px;
    font-size: 1.2rem;
}

.tarjeta p {
    font-size: 0.95rem;
}

/* Contáctenos */
.seccion-contacto {
    width: 100%;
    padding: 60px 40px;
    background: linear-gradient(
        to right,
        #bed8ea,
        #fff8bd
    ); /* azul a amarillo */
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.enlace-logo img {
    height: 300px;
    width: 300px;
    transition: transform 0.3s ease;
}

.enlace-logo img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.logo-contacto img {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
}

.seccion-contacto h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.seccion-contacto h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.seccion-contacto p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.info-contacto h3 {
    font-size: 1.3rem;
    margin-top: 30px;
    color: #000000;
}

.boton-contacto {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 24px;
    background-color: #ffffff;
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.boton-contacto:hover {
    background-color: #ffe600;
    color: #333;
}

/* Nosotros */
.logo-nosotros {
    margin-top: 50px;
    margin-bottom: 50;
    padding: 0;
}

.logo-nosotros img {
    height: 300px;
    width: 300px;
    margin-top: -50px;
    filter: drop-shadow(0 0 8px rgba(0, 119, 204, 0.6)); /* efecto glow azul */
}

.seccion-nosotros {
    background: linear-gradient(
        to right,
        #bed8ea,
        #fff8bd
    ); /* azul a amarillo */
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 100px;
    padding-top: -100px;
}

.seccion-nosotros h1 {
    font-size: 2.5rem;
    margin-top: -90px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffd900aa;
}

.seccion-nosotros h2 {
    font-size: 1.6rem;
    margin-top: 30px;
    color: #ffd700;
}

.seccion-nosotros p {
    margin-bottom: 25px;
    font-size: 1.05rem;
}

.boton-nosotros {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 24px;
    background-color: #ffd700;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background 0.3s ease;
    text-align: center;
}

.boton-nosotros:hover {
    background-color: #ffd700;
}

/* Footer */
footer {
    background: #f1f1f1;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    color: #686868;
}

/* Responsive */
@media (max-width: 768px) {
    .navegacion-principal {
        flex-direction: column;
        gap: 10px;
    }
    .superposicion-principal h1 {
        font-size: 1.8rem;
    }
    .barra-busqueda {
        flex-direction: column;
        border: 1px solid #0077cc;
    }
    .categorias-explorar {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .grid-bloques {
        grid-template-columns: 1fr;
    }
}
